```gitignore
########################################
# Build Directories
########################################


build/
cmake-build-*/
out/
bin/

########################################
# Large datasets
########################################

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep

########################################
# CMake
########################################

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
compile_commands.json

########################################
# Object Files
########################################

*.o
*.obj
*.a
*.lib
*.dll
*.exe
*.out

########################################
# Visual Studio
########################################

.vs/
*.vcxproj*
*.sln
*.user
*.filters

########################################
# VS Code
########################################
scripts/cache/
.vscode/

########################################
# CLion
########################################

.idea/

########################################
# Python
########################################

__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

########################################
# Benchmark Outputs
########################################

results/*.csv
results/*.html

########################################
# OS Files
########################################

.DS_Store
Thumbs.db
desktop.ini
```
